.svg{
    display: block;
}
.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 300 ease-in-out;
    transition-delay: 150;
}



.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 300 ease-in-out;
    transition-delay: 150;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,700 C 0,700 0,466 0,466 C 95.67692307692306,480.9102564102564 191.35384615384612,495.8205128205128 270,479 C 348.6461538461539,462.1794871794872 410.2615384615385,413.6282051282052 487,395 C 563.7384615384615,376.3717948717948 655.6,387.66666666666663 742,405 C 828.4,422.33333333333337 909.3384615384614,445.70512820512823 981,462 C 1052.6615384615386,478.29487179487177 1115.0461538461539,487.51282051282055 1190,487 C 1264.9538461538461,486.48717948717945 1352.476923076923,476.2435897435897 1440,466 C 1440,466 1440,700 1440,700 Z");
    }

    25% {
        d: path("M 0,700 C 0,700 0,466 0,466 C 87.31282051282051,491.55897435897435 174.62564102564102,517.1179487179487 249,517 C 323.374358974359,516.8820512820513 384.81025641025644,491.0871794871795 462,468 C 539.1897435897436,444.9128205128205 632.1333333333333,424.5333333333333 725,422 C 817.8666666666667,419.4666666666667 910.6564102564103,434.77948717948726 978,463 C 1045.3435897435897,491.22051282051274 1087.2410256410255,532.3487179487179 1160,535 C 1232.7589743589745,537.6512820512821 1336.3794871794871,501.82564102564106 1440,466 C 1440,466 1440,700 1440,700 Z");
    }

    50% {
        d: path("M 0,700 C 0,700 0,466 0,466 C 104.0974358974359,484.06666666666666 208.1948717948718,502.1333333333333 279,497 C 349.8051282051282,491.8666666666667 387.3179487179487,463.5333333333333 447,479 C 506.6820512820513,494.4666666666667 588.5333333333333,553.7333333333333 680,533 C 771.4666666666667,512.2666666666667 872.5487179487179,411.53333333333336 949,415 C 1025.451282051282,418.46666666666664 1077.271794871795,526.1333333333333 1155,552 C 1232.728205128205,577.8666666666667 1336.3641025641025,521.9333333333334 1440,466 C 1440,466 1440,700 1440,700 Z");
    }

    75% {
        d: path("M 0,700 C 0,700 0,466 0,466 C 70.05128205128204,432.4051282051282 140.1025641025641,398.81025641025644 216,394 C 291.8974358974359,389.18974358974356 373.64102564102564,413.16410256410256 447,437 C 520.3589743589744,460.83589743589744 585.3333333333333,484.5333333333333 684,512 C 782.6666666666667,539.4666666666667 915.0256410256411,570.7025641025641 1004,539 C 1092.974358974359,507.2974358974359 1138.5641025641025,412.65641025641025 1204,390 C 1269.4358974358975,367.34358974358975 1354.7179487179487,416.6717948717949 1440,466 C 1440,466 1440,700 1440,700 Z");
    }

    100% {
        d: path("M 0,700 C 0,700 0,466 0,466 C 95.67692307692306,480.9102564102564 191.35384615384612,495.8205128205128 270,479 C 348.6461538461539,462.1794871794872 410.2615384615385,413.6282051282052 487,395 C 563.7384615384615,376.3717948717948 655.6,387.66666666666663 742,405 C 828.4,422.33333333333337 909.3384615384614,445.70512820512823 981,462 C 1052.6615384615386,478.29487179487177 1115.0461538461539,487.51282051282055 1190,487 C 1264.9538461538461,486.48717948717945 1352.476923076923,476.2435897435897 1440,466 C 1440,466 1440,700 1440,700 Z");
    }
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,700 C 0,700 0,233 0,233 C 61.333333333333314,263.92051282051284 122.66666666666663,294.8410256410257 214,271 C 305.33333333333337,247.15897435897435 426.66666666666674,168.55641025641023 511,162 C 595.3333333333333,155.44358974358977 642.6666666666666,220.93333333333337 704,232 C 765.3333333333334,243.06666666666663 840.6666666666665,199.7102564102564 918,178 C 995.3333333333335,156.2897435897436 1074.6666666666667,156.22564102564104 1162,169 C 1249.3333333333333,181.77435897435896 1344.6666666666665,207.38717948717948 1440,233 C 1440,233 1440,700 1440,700 Z");
    }

    25% {
        d: path("M 0,700 C 0,700 0,233 0,233 C 92.65641025641025,266.3205128205128 185.3128205128205,299.64102564102564 274,275 C 362.6871794871795,250.35897435897436 447.4051282051282,167.75641025641025 509,149 C 570.5948717948718,130.24358974358975 609.0666666666667,175.33333333333334 693,212 C 776.9333333333333,248.66666666666666 906.3282051282051,276.9102564102564 991,284 C 1075.6717948717949,291.0897435897436 1115.6205128205129,277.025641025641 1183,265 C 1250.3794871794871,252.974358974359 1345.1897435897436,242.9871794871795 1440,233 C 1440,233 1440,700 1440,700 Z");
    }

    50% {
        d: path("M 0,700 C 0,700 0,233 0,233 C 98.46410256410257,208.19743589743592 196.92820512820515,183.39487179487182 273,206 C 349.07179487179485,228.60512820512818 402.75128205128203,298.61794871794865 463,317 C 523.248717948718,335.38205128205135 590.0666666666666,302.1333333333333 679,287 C 767.9333333333334,271.8666666666667 878.9820512820513,274.848717948718 977,257 C 1075.0179487179487,239.151282051282 1160.0051282051281,200.47179487179488 1235,193 C 1309.9948717948719,185.52820512820512 1374.997435897436,209.26410256410256 1440,233 C 1440,233 1440,700 1440,700 Z");
    }

    75% {
        d: path("M 0,700 C 0,700 0,233 0,233 C 101.4769230769231,192.98461538461538 202.9538461538462,152.96923076923076 278,149 C 353.0461538461538,145.03076923076924 401.6615384615384,177.1076923076923 481,180 C 560.3384615384616,182.8923076923077 670.4000000000001,156.6 754,157 C 837.5999999999999,157.4 894.7384615384615,184.49230769230772 954,200 C 1013.2615384615385,215.50769230769228 1074.646153846154,219.43076923076924 1156,223 C 1237.353846153846,226.56923076923076 1338.676923076923,229.7846153846154 1440,233 C 1440,233 1440,700 1440,700 Z");
    }

    100% {
        d: path("M 0,700 C 0,700 0,233 0,233 C 61.333333333333314,263.92051282051284 122.66666666666663,294.8410256410257 214,271 C 305.33333333333337,247.15897435897435 426.66666666666674,168.55641025641023 511,162 C 595.3333333333333,155.44358974358977 642.6666666666666,220.93333333333337 704,232 C 765.3333333333334,243.06666666666663 840.6666666666665,199.7102564102564 918,178 C 995.3333333333335,156.2897435897436 1074.6666666666667,156.22564102564104 1162,169 C 1249.3333333333333,181.77435897435896 1344.6666666666665,207.38717948717948 1440,233 C 1440,233 1440,700 1440,700 Z");
    }
}

@media only screen and (max-width: 600px) {
    .svg {
     display: none;
    }
  }