.svg{
    display: block;
    position: absolute;
    width: 100vw;
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all .3 ease-in-out;
    transition-delay: 150;
    /* transition-all duration-300 ease-in-out delay-150  */
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,700 C 0,700 0,175 0,175 C 102.04784688995213,199.77511961722487 204.09569377990425,224.55023923444975 306,233 C 407.90430622009575,241.44976076555025 509.665071770335,233.57416267942583 605,211 C 700.334928229665,188.42583732057417 789.244019138756,151.15311004784692 876,142 C 962.755980861244,132.84688995215308 1047.3588516746413,151.8133971291866 1141,162 C 1234.6411483253587,172.1866028708134 1337.3205741626793,173.59330143540672 1440,175 C 1440,175 1440,700 1440,700 Z");
    }

    25% {
        d: path("M 0,700 C 0,700 0,175 0,175 C 107.58851674641147,166.68421052631578 215.17703349282294,158.3684210526316 308,173 C 400.82296650717706,187.6315789473684 478.88038277511964,225.21052631578948 580,232 C 681.1196172248804,238.78947368421052 805.3014354066986,214.7894736842105 900,197 C 994.6985645933014,179.2105263157895 1059.9138755980862,167.63157894736844 1145,165 C 1230.0861244019138,162.36842105263156 1335.043062200957,168.68421052631578 1440,175 C 1440,175 1440,700 1440,700 Z");
    }

    50% {
        d: path("M 0,700 C 0,700 0,175 0,175 C 87.8468899521531,174.94258373205741 175.6937799043062,174.88516746411483 261,169 C 346.3062200956938,163.11483253588517 429.07177033492826,151.4019138755981 530,142 C 630.9282296650717,132.5980861244019 750.019138755981,125.50717703349281 867,132 C 983.980861244019,138.4928229665072 1098.8516746411483,158.56937799043064 1194,168 C 1289.1483253588517,177.43062200956936 1364.5741626794259,176.21531100478467 1440,175 C 1440,175 1440,700 1440,700 Z");
    }

    75% {
        d: path("M 0,700 C 0,700 0,175 0,175 C 113.12918660287082,198.52153110047846 226.25837320574163,222.04306220095694 334,211 C 441.74162679425837,199.95693779904306 544.0956937799043,154.3492822966507 619,132 C 693.9043062200957,109.65071770334929 741.3588516746413,110.55980861244018 838,135 C 934.6411483253587,159.44019138755982 1080.4688995215313,207.41148325358853 1189,218 C 1297.5311004784687,228.58851674641147 1368.7655502392345,201.79425837320574 1440,175 C 1440,175 1440,700 1440,700 Z");
    }

    100% {
        d: path("M 0,700 C 0,700 0,175 0,175 C 102.04784688995213,199.77511961722487 204.09569377990425,224.55023923444975 306,233 C 407.90430622009575,241.44976076555025 509.665071770335,233.57416267942583 605,211 C 700.334928229665,188.42583732057417 789.244019138756,151.15311004784692 876,142 C 962.755980861244,132.84688995215308 1047.3588516746413,151.8133971291866 1141,162 C 1234.6411483253587,172.1866028708134 1337.3205741626793,173.59330143540672 1440,175 C 1440,175 1440,700 1440,700 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all .3 ease-in-out;
    transition-delay: 150;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,700 C 0,700 0,350 0,350 C 127.55023923444975,380.3540669856459 255.1004784688995,410.70813397129183 335,402 C 414.8995215311005,393.29186602870817 447.1483253588517,345.5215311004785 544,331 C 640.8516746411483,316.4784688995215 802.3062200956939,335.20574162679424 907,357 C 1011.6937799043061,378.79425837320576 1059.6267942583731,403.6555023923445 1139,403 C 1218.3732057416269,402.3444976076555 1329.1866028708134,376.17224880382776 1440,350 C 1440,350 1440,700 1440,700 Z");
    }

    25% {
        d: path("M 0,700 C 0,700 0,350 0,350 C 81.57894736842107,372.10526315789474 163.15789473684214,394.2105263157895 275,405 C 386.84210526315786,415.7894736842105 528.9473684210526,415.2631578947369 620,382 C 711.0526315789474,348.7368421052631 751.0526315789475,282.7368421052631 837,293 C 922.9473684210525,303.2631578947369 1054.842105263158,389.7894736842106 1163,412 C 1271.157894736842,434.2105263157894 1355.578947368421,392.1052631578947 1440,350 C 1440,350 1440,700 1440,700 Z");
    }

    50% {
        d: path("M 0,700 C 0,700 0,350 0,350 C 117.70334928229664,341.7511961722488 235.40669856459328,333.50239234449765 340,334 C 444.5933014354067,334.49760765550235 536.0765550239233,343.74162679425837 626,357 C 715.9234449760767,370.25837320574163 804.287081339713,387.5311004784689 888,378 C 971.712918660287,368.4688995215311 1050.7751196172248,332.13397129186603 1142,323 C 1233.2248803827752,313.86602870813397 1336.6124401913876,331.933014354067 1440,350 C 1440,350 1440,700 1440,700 Z");
    }

    75% {
        d: path("M 0,700 C 0,700 0,350 0,350 C 122.98564593301435,328.71770334928226 245.9712918660287,307.4354066985646 337,298 C 428.0287081339713,288.5645933014354 487.1004784688996,290.97607655502395 575,319 C 662.8995215311004,347.02392344497605 779.6267942583733,400.66028708133973 871,401 C 962.3732057416267,401.33971291866027 1028.3923444976076,348.38277511961724 1119,331 C 1209.6076555023924,313.61722488038276 1324.8038277511962,331.8086124401914 1440,350 C 1440,350 1440,700 1440,700 Z");
    }

    100% {
        d: path("M 0,700 C 0,700 0,350 0,350 C 127.55023923444975,380.3540669856459 255.1004784688995,410.70813397129183 335,402 C 414.8995215311005,393.29186602870817 447.1483253588517,345.5215311004785 544,331 C 640.8516746411483,316.4784688995215 802.3062200956939,335.20574162679424 907,357 C 1011.6937799043061,378.79425837320576 1059.6267942583731,403.6555023923445 1139,403 C 1218.3732057416269,402.3444976076555 1329.1866028708134,376.17224880382776 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
}

.path-2 {
    animation: pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all .3 ease-in-out;
    transition-delay: 150;
}

@keyframes pathAnim-2 {
    0% {
        d: path("M 0,700 C 0,700 0,525 0,525 C 96.05741626794256,531.1913875598086 192.1148325358851,537.3827751196172 292,541 C 391.8851674641149,544.6172248803828 495.598086124402,545.6602870813397 595,544 C 694.401913875598,542.3397129186603 789.4928229665072,537.9760765550241 894,519 C 998.5071770334928,500.023923444976 1112.4306220095693,466.4354066985646 1205,465 C 1297.5693779904307,463.5645933014354 1368.7846889952152,494.28229665071774 1440,525 C 1440,525 1440,700 1440,700 Z");
    }

    25% {
        d: path("M 0,700 C 0,700 0,525 0,525 C 115.42583732057417,530.377990430622 230.85167464114835,535.755980861244 318,541 C 405.14832535885165,546.244019138756 464.01913875598086,551.3540669856459 555,543 C 645.9808612440191,534.6459330143541 769.0717703349281,512.8277511961724 872,516 C 974.9282296650719,519.1722488038276 1057.6937799043062,547.334928229665 1149,553 C 1240.3062200956938,558.665071770335 1340.153110047847,541.8325358851675 1440,525 C 1440,525 1440,700 1440,700 Z");
    }

    50% {
        d: path("M 0,700 C 0,700 0,525 0,525 C 102.30622009569379,546.6459330143541 204.61244019138758,568.2918660287081 301,555 C 397.3875598086124,541.7081339712919 487.8564593301436,493.47846889952154 570,488 C 652.1435406698564,482.52153110047846 725.9617224880383,519.7942583732057 824,520 C 922.0382775119617,520.2057416267943 1044.2966507177034,483.34449760765557 1151,478 C 1257.7033492822966,472.65550239234443 1348.8516746411483,498.82775119617224 1440,525 C 1440,525 1440,700 1440,700 Z");
    }

    75% {
        d: path("M 0,700 C 0,700 0,525 0,525 C 118.30622009569379,553.0478468899521 236.61244019138758,581.0956937799043 321,582 C 405.3875598086124,582.9043062200957 455.8564593301436,556.665071770335 554,545 C 652.1435406698564,533.334928229665 797.9617224880383,536.244019138756 897,520 C 996.0382775119617,503.755980861244 1048.2966507177034,468.35885167464113 1131,466 C 1213.7033492822966,463.64114832535887 1326.8516746411483,494.32057416267946 1440,525 C 1440,525 1440,700 1440,700 Z");
    }

    100% {
        d: path("M 0,700 C 0,700 0,525 0,525 C 96.05741626794256,531.1913875598086 192.1148325358851,537.3827751196172 292,541 C 391.8851674641149,544.6172248803828 495.598086124402,545.6602870813397 595,544 C 694.401913875598,542.3397129186603 789.4928229665072,537.9760765550241 894,519 C 998.5071770334928,500.023923444976 1112.4306220095693,466.4354066985646 1205,465 C 1297.5693779904307,463.5645933014354 1368.7846889952152,494.28229665071774 1440,525 C 1440,525 1440,700 1440,700 Z");
    }
}